/* You can add global styles to this file, and also import other style files */
@use "../themes/tailwind";

html,
body {
  height: 100%;
}

body {
  margin: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: antiquewhite;
  overflow: hidden;
}

::-webkit-input-placeholder, input[type="date"]::-webkit-datetime-edit {
  color: gray;
}
